# vscode files
.vscode/

# project out
build/

# eide template
*.ept
*.eide-template
.eide/log/

# keil objects
DebugConfig/
RTE/
*.uvguix.*
*.uvoptx
*.scvd

# ad files
hardware/History/
hardware/Project Logs*
hardware/Project Outputs*
hardware/Schematics/__Previews/
*.sldprt
